<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
        mollitia! Doloribus quod vel mollitia illum reiciendis blanditiis
        quibusdam exercitationem eaque quis totam dignissimos, maiores nemo
        ipsum eius at eum in?
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 12345-45687</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 65465-9867</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos Reservados
  </section>
</footer>
